/* Modern font imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');
/* OR */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@keyframes shine {
    0% {
      left: -100%;
    }
    100% {
      left: 200%;
    }
  }
  
  .shiny-text {
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(245, 155, 240));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
  }
  
  .shiny-text::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-25deg);
    animation: shine 3s ease-in-out infinite;
    pointer-events: none;
  }